<md-dialog aria-label="..."  ng-cloak>
<md-content ng-if="dataSet === 'payments'">
	<md-subheader class="md-primary">Total Amount</md-subheader>
	<md-virtual-repeat-container id="vertical-container">
	  <div md-virtual-repeat="item in drugPaymentStats" class="repeated-item" flex>
	    {{$index + 1}}.&nbsp {{item.drug}} ({{item.submitting_mfrs}}) - {{item.amount | currency}}
	  </div>
	</md-virtual-repeat-container>
</md-content>
<md-content ng-if="dataSet === 'grants'">
	<md-subheader class="md-primary">Total Amount</md-subheader>
	<md-virtual-repeat-container id="vertical-container">
	  <div md-virtual-repeat="item in drugGrantStats" class="repeated-item" flex>
	    {{$index + 1}}.&nbsp {{item.drug}} ({{item.submitting_mfrs}}) - {{item.amount | currency}}
	  </div>
	</md-virtual-repeat-container>
</md-content>
<md-content ng-if="dataSet === 'totals'">
	<md-subheader class="md-primary">Total Amount</md-subheader>
	<md-virtual-repeat-container id="vertical-container">
	  <div md-virtual-repeat="item in drugTotalStats" class="repeated-item" flex>
	    {{$index + 1}}.&nbsp {{item.drug}} ({{item.submitting_mfrs}}) - {{item.amount | currency}}
	  </div>
	</md-virtual-repeat-container>
</md-content>
</md-dialog>
