<md-dialog aria-label="..."  ng-cloak>
  <div ng-hide="!progress" layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular class="md-warn md-hue-3 stats"  md-mode="indeterminate" md-diameter="60"></md-progress-circular>
  </div>
<md-content ng-if="!progress">
	<div layout="row">
		<span flex></span>
			<md-subheader class="md-primary">Total Amount</md-subheader>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()" aria-label="...">
			<i class="fa fa-times"></i>
		</md-button>
	</div>
	<md-virtual-repeat-container id="vertical-container">
	  <div md-virtual-repeat="item in drugStats" class="repeated-item" flex>
	    {{$index + 1}}.&nbsp {{item.drug}} ({{item.submitting_mfrs}}) - {{item.amount | currency}}
	  </div>
	</md-virtual-repeat-container>
</md-content>
</md-dialog>



