<div ng-include="'components/navbar/navbar.html'"></div>

<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>FOGLIGHT</h1>
    <p class="lead">Cut Through the Pharma Phog</p>
  </div>
</header> -->

<div class="container">

<div id="countyMap"></div>
<div county-map countyfocus="countyfocus" countyinfo="countyInfo" bins="bins"></div>

<!-- Modal -->
<div class="modal fade" id="sankeyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{countyInfo}}</h4>
      </div>

      <div class="modal-body">

        <md-tabs flex class="md-accent" md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
          <md-tab ng-repeat="bin in bins"  ng-if="isBins.value">
            <md-tab-label>{{bin.bin}} <span ng-if="bin.rawAmount > 0">(${{bin.rawAmount | number:2}})</span></md-tab-label>
            <md-tab-body>
            <div id="chart-{{$index}}" county-sankey bin-num="$index" bin="bin.bin" flex style="overflow: scroll; overflow-x: hidden;"></div>
            </md-tab-body>
          </md-tab>
         </md-tabs>

      </div>
    </div>
  </div>
</div>



<!-- BOOTSTRAP MODAL END -->

<div id='dataset-picker'></div>

</div>

<footer class="footer">
  <div class="container">
    <p>&copy; Andy Watt, 2015. Made possible by the <a href='https://openpaymentsdata.cms.gov/'>OpenPayments API</a>.</p>
  </div>

</footer>
