.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}


.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}


// soft red
// .q0-9 { fill: #e3d4d5; }
// .q1-9 { fill: #ddc6c6; }
// .q2-9 { fill: #d5b1b1; }
// .q3-9 { fill: #c89393; }
// .q4-9 { fill: #bc7475; }
// .q5-9 { fill: #ae5555; }
// .q6-9 { fill: #a33838; }
// .q7-9 { fill: #951919; }
// .q8-9 { fill: #8b0000; }


//Bright red:
// .q0-9 { fill: #ffdada; }
// .q1-9 { fill: #fcd6d6; }
// .q2-9 { fill: #f5c5c5; }
// .q3-9 { fill: #eea9a9; }
// .q4-9 { fill: #e48686; }
// .q5-9 { fill: #db5e5e; }
// .q6-9 { fill: #d13737; }
// .q7-9 { fill: #c91919; }
// .q8-9 { fill: #a70000; }



// Purple:
// .q0-9 { fill: #f7ebfe; }
// .q1-9 { fill: #edd3f5; }
// .q2-9 { fill: #e1b6e8; }
// .q3-9 { fill: #d599db; }
// .q4-9 { fill: #c77acc; }
// .q5-9 { fill: #b755bb; }
// .q6-9 { fill: #a731aa; }
// .q7-9 { fill: #9a169d; }
// .q8-9 { fill: #6c006d; }

// .q0-9 { fill:rgb(247,251,255); }
// .q1-9 { fill:rgb(222,235,247); }
// .q2-9 { fill:rgb(198,219,239); }
// .q3-9 { fill:rgb(158,202,225); }
// .q4-9 { fill:rgb(107,174,214); }
// .q5-9 { fill:rgb(66,146,198); }
// .q6-9 { fill:rgb(33,113,181); }
// .q7-9 { fill:rgb(8,81,156); }
// .q8-9 { fill:rgb(8,48,107); }



//begin sankey

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}

//end sankey
