//--------------------------BACKGROUND IMAGE

.fullscreen {
  width: 110%;
  height: 110%;
  position: fixed;
  left: -10%;
  top: -10%;
  z-index: -1;
  background-image: url('main/img/pills3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  .fullscreen-overlay {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}


//----------------------------MAIN BODY & CONTAINER

.container {
  width: 90%;
  position: auto;
}

body{
      background-color: rgba(255, 255, 255, 0);
      // font-size: 13px;
}

.mainBody {
  margin-top: 20px;
}

//BODYCARD

.bodyCard {
  padding-bottom: 100px;
}


//----------------------------CARDS


md-card {
  background: rgba(1,70,54, 0.12);
  // background: rgba(158,202,225,0.3);
  // background: rgba(254,80,0,0.4);
  border-radius: 3px;
  // padding: 5px 15px;
}


//----------------------------BUTTONS

i {
  vertical-align: middle;
}

#infoButton {
  float: right;
  margin-top: 25px;
  margin-right: 80px;
  margin-left: -80px;
  background: rgba(166,189,219,0.6);
}

#doctorLookup {
  float: right;
}


//----------------------------MAIN TITLE

.unblurred{
  color: #1d91c0;
  // color: #9ACA7E;
  // rgba(44, 160, 44,0.2)
}

.blurred {
    // font-size: 32px;
    color: transparent;
    -webkit-animation: blurry 10s infinite;/* Safari 4+ */
    -moz-animation:    blurry 10s infinite;/* Fx 5+ */
    -o-animation:      blurry 10s infinite;/* Opera 12+ */
    animation:         blurry 10s infinite;/* IE 10+ */
}

.mainTitle {
 font-family: 'Ubuntu', sans-serif;
 // font-size: 48px;
    // position: relative;
    // color: #1d91c0;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.4em;
    margin-bottom: 20px;
    margin-left: 40px;
    padding-top: 20px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}



//---------------------------------DASHBOARD

//---DASH INFO

.subheading {
  // font-weight: bold;
  font-size: 1.1em;
  // line-height: 1;
}


#dashboard {
  font-size: 13px;
  font-weight: bold;
  margin: 11em 4em 1em 4em;
  // border-width: 1px;
  // border-color: rgba(44, 160, 44,0.2);
  // border-color: rgba(44, 160, 44,0.2);
  // border-style: solid;
  border-radius: 3px;
  background-color: rgba(236,226,240, 0.75);
}

//---DASH ANIMATION

p {
  margin: 0;
}

.fade, .dashCard {
  // background: rgba(254,80,0,0.65);
  // background: rgba(158,202,225,0.65);
  // background: rgba(44, 160, 44, 0.65);
}

.fade {
  position: absolute;
  margin: 1.3% 16.3% 0 1.3%;
  // border-width: 2px;
  // border-color: rgba(166,189,219,0.3);
  // border-color: rgba(158, 218, 229,0.3);
  // border-style: solid;
  border-radius: 4px;
  background-color: rgba(255,247,251, 0.8);
  // background-color: rgba(166, 189, 219, 0.7);
  
  // background: rgba(158, 218, 229,0.6);
  box-shadow: none;
  opacity: 1;
}

#infoCard {
  min-height: 152px;
  font-size: 13px;
  margin: 0 8% 2% 8%;
  line-height: 1.3em;
  border-radius: 1px;
  background-color: rgba(54, 144, 192, 0.38);
  // border-style: solid;
  // border-width: 2px;
  // border-color: rgba(54, 144, 192, 0.2);
}

.infoText {
  margin: 16px;
}

.fade.ng-hide-remove {
      -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }

.fade.ng-hide-remove {
    -webkit-animation: fadeIn 1.75s;
    animation: fadeIn 1.75s;
}

md-checkbox {
  border-width: 1px;
}


//--------------------------- STATS DIALOGS

//VIRTUAL REPEAT CONTAINER
#vertical-container {
  height: 400px;
  width: 475px; }

md-virtual-repeat-container .repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px; }

md-virtual-repeat-container {
  border: solid 1px grey; }

.md-virtual-repeat-container .md-virtual-repeat-offsetter div {
  padding-left: 16px; }


//COUNTY STATS DIALOG


//DRUG STATS DIALOG


//PHYSICAIN STATS DIALOG



//INFO DIALOG


//--------------------------SEARCH DIALOG

md-input-container {
  margin: 10px; }

.physician-list li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }
.physician-list li:last-child {
  border-bottom-width: 0; }
.physician-list .item-title,
.physician-list .item-metadata {
  display: block;
  line-height: 2; }
.physician-list .item-title md-icon {
  height: 18px;
  width: 18px; }




//------------------------CHOROPLETH U.S. COUNTY MAP
.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

#countyMap svg {
    display: block;
    margin: auto;
}

//----------CHOROPLETH LEGEND

 text.ticks {
        font-size: 8pt;
        // font-weight: bold;
        font-family: Consolas, courier;
        fill: #6B6969;
      }

 text.annotation {
        font-size: 8pt;
        font-family: Consolas, courier;
        fill: #928D8D;
      }


//-----------------------------------SANKEY MAP

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}

//-------SANKEY DIALOG

.sankeyDialog {
  overflow-y: hidden;
}

.sankeyTitle {
  font-weight: bold;
  font-size: 22px;
  max-height: 50px;
}

.sankeyHeaders {
  font-weight: bolder;
  font-size: 16px;
  background-color: #9a169d;
  min-height: 22px;
}

.fa-long-arrow-right {
  padding: 0 15px;
}

.fa-money {
  color: #85bb65;
}

.fullscreen-dialog {
   height:90%;
   width:90%;
   max-height:90%;
   max-width: 90%;
   position: absolute;
   top: 5%;
   left: 5%;
   border-radius: 0;
}


//-------------------------------PROGRESS INDICATORS

md-progress-circular .sankey {
  margin: 175px;
}

md-progress-circular .stats {
  margin: 50px;
}


//--------------------------------------FOOTER

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    // border-top: 1px solid #E5E5E5;
}

.footer {
  margin-top: 50px;
  font-size: 12px;
  line-height: 1.2;
}

.footerCard {
  padding-top: 10px;
}


// ------------------------------------ANIMATIONS
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes blurry {
  0%   { text-shadow: 0px 0px 0px #85BB65; }
  35%   { text-shadow: 0px 0px 12px #1d91c0; }
  60% { text-shadow: 0px 0px 0px #85BB65; }
  // 75%   { text-shadow: 0px 0px 6px #9ACA7E; }
  100% { text-shadow: 0px 0px 0px #85BB65; }
}
@-moz-keyframes blurry {
  0%   { text-shadow: 0px 0px 0px #85BB65; }
  35%   { text-shadow: 0px 0px 12px #1d91c0; }
  60% { text-shadow: 0px 0px 0px #85BB65; }
  // 75%   { text-shadow: 0px 0px 6px #9ACA7E; }
  100% { text-shadow: 0px 0px 0px #85BB65; }
}
@-o-keyframes blurry {
  0%   { text-shadow: 0px 0px 0px #85BB65; }
  35%   { text-shadow: 0px 0px 12px #1d91c0; }
  60% { text-shadow: 0px 0px 0px #85BB65; }
  // 75%   { text-shadow: 0px 0px 6px #9ACA7E; }
  100% { text-shadow: 0px 0px 0px #85BB65; }
}
@keyframes blurry {
  0%   { text-shadow: 0px 0px 0px #85BB65; }
  35%   { text-shadow: 0px 0px 12px #1d91c0; }
  60% { text-shadow: 0px 0px 0px #85BB65; }
  // 75%   { text-shadow: 0px 0px 6px #9ACA7E; }
  100% { text-shadow: 0px 0px 0px #85BB65; }  
}











