//--------------------------BACKGROUND IMAGE

.fullscreen {
  width: 110%;
  height: 110%;
  position: fixed;
  left: -10%;
  top: -10%;
  z-index: -1;
  background-image: url('main/img/pills3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  .fullscreen-overlay {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}


//----------------------------MAIN BODY & CONTAINER

.container {
  width: 90%;
  position: auto;
}

body{
      background-color: rgba(255, 255, 255, 0);
      color: #3C3535;
}

.mainBody {
  margin-top: 20px;
}

//BODYCARD

.bodyCard {
  padding-bottom: 100px;
}


//----------------------------CARDS


md-card {
  background: rgba(1,70,54, 0.12);
  border-radius: 3px;
}


//---------------------------MDTOAST

md-toast {
  margin-top: 450px;
  margin-right: 500px;
  border-radius: 40px;
  max-width: 50px;
  color: #EBF70A; 
  text-align: center
}


//----------------------------BUTTONS

i {
  vertical-align: middle;
}

#infoButton {
  float: right;
  margin-top: 25px;
  margin-right: 80px;
  margin-left: -80px;
  background: rgba(166,189,219,0.6);
}

#doctorLookup {
  float: right;
}

.dashButton {
  border-radius: 40px;
  padding: 0;
  font-size: 13px;
  padding: 0;
  margin: 0px 3px;
  height: 34px;
  min-width: 75px;
  font-weight: 700;
}

#resetButton {
  float: right;
}

.md-menu {
  padding: 0;
}

.infoDialogCloseButton {
  float: right;
}

.md-icon-button {
  color: #fc8d59 !important;
}


//----------------------------MAIN TITLE

.unblurred{
  color: #1d91c0;
}

.blurred {
    color: transparent;
    -webkit-animation: blurry 10s infinite;/* Safari 4+ */
    -moz-animation:    blurry 10s infinite;/* Fx 5+ */
    -o-animation:      blurry 10s infinite;/* Opera 12+ */
    animation:         blurry 10s infinite;/* IE 10+ */
}

.mainTitle {
 font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.4em;
    margin: 35px 0px 35px 40px;
    padding-top: 20px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}



//---------------------------------DASHBOARD

//---DASH INFO

.subheading {
  font-size: 1.1em;
}

p {
  margin: 0;
}


.fade {
  position: absolute;
  margin: 1% 48% 0 1%;
  border-radius: 4px;
  background-color: rgba(255,247,251, 0.8);
  opacity: 1;
}

#infoCard {
  min-height: 220px;
  font-size: 13.5px;
  margin: 0 5% 2% 5%;
  line-height: 1.35em;
  border-radius: 3px;
  background-color: rgba(54, 144, 192, 0.38);
}

.infoText {
  margin: 15px;
}



.fade.ng-hide-remove {
      -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }

.fade.ng-hide-remove {
    -webkit-animation: fadeIn 1.75s;
    animation: fadeIn 1.75s;
}


#dashBoard {
  font-size: 13px;
  font-weight: bold;
  background-color: rgba(255,247,251, 0.65);
}

#gradient {
  background: linear-gradient(to right, rgba(54, 144, 192, 0), rgba(255,247,251, 0.65)); 
}

#searchPanel {
  margin-bottom: -40px;
}

//--------------------------- STATS DIALOGS

//VIRTUAL REPEAT CONTAINER
#vertical-container {
  height: 400px;
  width: 475px; }

md-virtual-repeat-container .repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px; }

md-virtual-repeat-container {
  border: solid 1px grey; }

.md-virtual-repeat-container .md-virtual-repeat-offsetter div {
  padding-left: 16px; }


//--------------------------SEARCH DIALOG

md-input-container {
  margin: 10px; }

.physician-list li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }
.physician-list li:last-child {
  border-bottom-width: 0; }
.physician-list .item-title,
.physician-list .item-metadata {
  display: block;
  line-height: 2; }
.physician-list .item-title md-icon {
  height: 18px;
  width: 18px; }

//------------------------CHOROPLETH U.S. COUNTY MAP
.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

#countyMap svg {
    display: block;
    margin: auto;
}

//----------CHOROPLETH LEGEND

 text.ticks {
        font-size: 10pt;
        font-family: Consolas, courier;
        fill: #3C3535;
      }

 text.annotation {
        font-size: 9pt;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic; 
        fill: rgba(74,66,66,0.1);
      }


//-----------------------------------SANKEY MAP

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}

//-------SANKEY DIALOG

.sankeyDialog {
  overflow-y: hidden;

}

.sankeyTitle {
  font-weight: bold;
  font-size: 22px;
  max-height: 50px;
}

.sankeyHeaders {
  font-weight: bolder;
  font-size: 16px;
  color: #1d91c0;
  background-color: #ffffd9;
  min-height: 22px;
  box-shadow: 0 3px 3px -3px grey;
}

.fa-long-arrow-right {
  padding: 0 15px;
  color: #225ea8;
}

.fa-money {
  color: #85BB65;
}

.fullscreen-dialog {
   height:90%;
   width:90%;
   max-height:90%;
   max-width: 90%;
   position: absolute;
   top: 5%;
   left: 5%;
   border-radius: 4px;
}

//titlebar color and text
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: #225ea8;
    color: rgba(255,255,255,0.89);
}

//focused tab text color
md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
    color: #fc8d59;
}

//unfocused tab text color
md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
    color: rgb(152, 146, 146);
}


//-------------------------------PROGRESS INDICATORS

#sankeyProgress {
  margin: 175px;
}

.statsProgress {
  margin: 5px;
}

//--------------------------------------FOOTER

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
}

.footer {
  margin-top: 50px;
  font-size: 12px;
  line-height: 1.2;
}

.footerCard {
  padding-top: 10px;
}


// ------------------------------------ANIMATIONS
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes blurry {
  0%   { text-shadow: 0px 0px 0px #85BB65; }
  35%   { text-shadow: 0px 0px 12px #1d91c0; }
  60% { text-shadow: 0px 0px 0px #85BB65; }
  // 75%   { text-shadow: 0px 0px 6px #9ACA7E; }
  100% { text-shadow: 0px 0px 0px #85BB65; }
}
@-moz-keyframes blurry {
  0%   { text-shadow: 0px 0px 0px #85BB65; }
  35%   { text-shadow: 0px 0px 12px #1d91c0; }
  60% { text-shadow: 0px 0px 0px #85BB65; }
  // 75%   { text-shadow: 0px 0px 6px #9ACA7E; }
  100% { text-shadow: 0px 0px 0px #85BB65; }
}
@-o-keyframes blurry {
  0%   { text-shadow: 0px 0px 0px #85BB65; }
  35%   { text-shadow: 0px 0px 12px #1d91c0; }
  60% { text-shadow: 0px 0px 0px #85BB65; }
  // 75%   { text-shadow: 0px 0px 6px #9ACA7E; }
  100% { text-shadow: 0px 0px 0px #85BB65; }
}
@keyframes blurry {
  0%   { text-shadow: 0px 0px 0px #85BB65; }
  35%   { text-shadow: 0px 0px 12px #1d91c0; }
  60% { text-shadow: 0px 0px 0px #85BB65; }
  // 75%   { text-shadow: 0px 0px 6px #9ACA7E; }
  100% { text-shadow: 0px 0px 0px #85BB65; }  
}











