.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.fullscreen {
  width: 110%;
  height: 110%;
  position: fixed;
  left: -10%;
  top: -10%;
  z-index: -1;
  background-image: url('main/img/pills.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  .fullscreen-overlay {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

// #countyMap {
//   opacity: 0;
// }

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}


// soft red
// .q0-9 { fill: #e3d4d5; }
// .q1-9 { fill: #ddc6c6; }
// .q2-9 { fill: #d5b1b1; }
// .q3-9 { fill: #c89393; }
// .q4-9 { fill: #bc7475; }
// .q5-9 { fill: #ae5555; }
// .q6-9 { fill: #a33838; }
// .q7-9 { fill: #951919; }
// .q8-9 { fill: #8b0000; }


//Bright red:
// .q0-9 { fill: #ffdada; }
// .q1-9 { fill: #fcd6d6; }
// .q2-9 { fill: #f5c5c5; }
// .q3-9 { fill: #eea9a9; }
// .q4-9 { fill: #e48686; }
// .q5-9 { fill: #db5e5e; }
// .q6-9 { fill: #d13737; }
// .q7-9 { fill: #c91919; }
// .q8-9 { fill: #a70000; }



// Purple:
// .q0-9 { fill: #f7ebfe; }
// .q1-9 { fill: #edd3f5; }
// .q2-9 { fill: #e1b6e8; }
// .q3-9 { fill: #d599db; }
// .q4-9 { fill: #c77acc; }
// .q5-9 { fill: #b755bb; }
// .q6-9 { fill: #a731aa; }
// .q7-9 { fill: #9a169d; }
// .q8-9 { fill: #6c006d; }

// .q0-9 { fill:rgb(247,251,255); }
// .q1-9 { fill:rgb(222,235,247); }
// .q2-9 { fill:rgb(198,219,239); }
// .q3-9 { fill:rgb(158,202,225); }
// .q4-9 { fill:rgb(107,174,214); }
// .q5-9 { fill:rgb(66,146,198); }
// .q6-9 { fill:rgb(33,113,181); }
// .q7-9 { fill:rgb(8,81,156); }
// .q8-9 { fill:rgb(8,48,107); }



//begin sankey

// #countySankey { overflow-x : scroll ;}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}



md-input-container {
  margin: 10px; }


.physician-list li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }
.physician-list li:last-child {
  border-bottom-width: 0; }
.physician-list .item-title,
.physician-list .item-metadata {
  display: block;
  line-height: 2; }
.physician-list .item-title md-icon {
  height: 18px;
  width: 18px; }

// section {
//   background: #f7f7f7;
//   border-radius: 3px;
//   text-align: center;
//   margin: 1em;
//   position: relative !important;
//   padding-bottom: 10px; }
// md-content {
//   margin-right: 7px; }
// section .md-button {
//   margin-top: 16px;
//   margin-bottom: 16px; }
// .label {
//   position: absolute;
//   bottom: 5px;
//   left: 7px;
//   font-size: 14px;
//   opacity: 0.54; }

md-dialog-content{
  padding: 2px;
}

body{
      background-color: rgba(255, 255, 255, 0);
}

.footer{
  border-top: 0px;
}

  .fullscreen-dialog {
       height:90%;
       width:90%;
       max-height:90%;
       max-width: 90%;
       position: absolute;
       top: 5%;
       left: 5%;
       border-radius: 0;
   }

#countyMap svg {
    display: block;
    margin: auto;
}

md-progress-circular {
  vertical-align: middle;
}

i {
  vertical-align: middle;
}
