<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->
<div class="fullscreen">
  <div class="fullscreen-overlay">
  </div>
</div>
<!-- <header id="banner">
  <div class="container">
    <h1 class="mainTitle"><span class="unblurred">PHARMA</span><span class="blurred">LENS</span></h1>
  </div>
</header> -->

<div class="container mainBody">

   <md-card>
    <md-card-content>

    <div layout="row" layout-alignment="center center">
      <md-card flex="60" flex-offset="20" class="titleCard">
        <md-card-content layout="row" layout-alignment="space-between center">
     
<div flex="90"><h1 class="mainTitle"><span class="unblurred">PHARMA</span><span class="blurred">LENS</span></h1>
</div>
            
<div id="infoButton" flex>
  <md-button aria-label="About" class="md-fab md-raised md-mini"
        ng-click="showInfoDialog($event)">
        <md-tooltip md-direction="down" md-visible="tooltipVisible"
        md-autohide="false">
        About
        </md-tooltip>
        <i class="fa fa-info fa-lg fa-align-center"></i>
      </md-button>
</div>

    </md-card-content>
      </md-card>

<!-- <div flex flex-offset="5">
  
    </div> -->

    </div>
          <md-card class="textCard">
          <md-card-content layout="row" layout-wrap>
            <p flex="100" class="fade" ng-show="bool">According to data from The International Diabetes Federation, about 382 million people on earth now have diabetes, with an estimated 592 million by the year 2035 – a 55% increase.   According to the Centers for Disease Control and Prevention, 29.1 million or 9.3% of all Americans had diabetes as of 2012, with an alarming 8.1 million (27.8%) of them undiagnosed.  About 86 million or 37% of Americans over the age of 20 are considered prediabetic/IGT.   The market for Type 2 Diabetes treatment options is exponentially increasing – current worth estimates are approximately $10 billion in the United States and are predicted to increase to $30 billion by 2030.</p>

          </md-card-content>
        </md-card>


<button ng-click="bool=true">Fade In!</button>
<button ng-click="bool=false">Fade Out!</button>



        <md-card>
          <md-card-content>

          <!-- countyMap buttons -->
          <div layout="row">


          
          <md-card flex="20" class="textCard" flex-offset="10">
            <md-card-actions layout="row" layout-alignment="center center">

              <md-radio-group layout="row" ng-model="programYear">
                <md-radio-button value="2013" class="md-primary">2013</md-radio-button>
                <md-radio-button value="2014" class="md-primary">2014</md-radio-button>
              </md-radio-group>

            </md-card-actions>
          </md-card>

        <md-card flex="45" class="textCard">
          <md-card-actions layout="row" layout-alignment="space-between center">


            <div>
              <md-radio-group ng-model="dataSet" layout="row">
                <md-radio-button value="diabetes">Diabetes<md-tooltip md-direction="down" md-visible="tooltipVisible" md-autohide="false">Average Diabetes Rate</md-tooltip>
                </md-radio-button>
                <md-radio-button value="payments">Payments<md-tooltip md-direction="down" md-visible="tooltipVisible" md-autohide="false">Per Capita Payments</md-tooltip>
                </md-radio-button>
                <md-radio-button value="grants">Grants<md-tooltip md-direction="down" md-visible="tooltipVisible" md-autohide="false">Per Capita Grants</md-tooltip>
                </md-radio-button>
                <md-radio-button value="totals">Totals<md-tooltip md-direction="down" md-visible="tooltipVisible" md-autohide="false">Per Capita Payments & Grants</md-tooltip>
                </md-radio-button>
              </md-radio-group>
            </div>              

              </md-card-actions>
            </md-card>
      <div flex="5">
        <md-button aria-label="Search" class="md-fab md-warn md-raised md-mini"
            ng-click="showPhysicianSearchDialog($event)">
          <md-tooltip md-direction="up" md-visible="tooltipVisible"
            md-autohide="false">
            Search County/Physician or Click on a County Below
          </md-tooltip>
          <i class="fa fa-search fa-lg"></i>
        </md-button>
      </div>
        
      <div flex="5">
        <md-button id="factoidButton" aria-label="Factoids" class="md-fab md-raised md-mini"
                ng-click="openDialog($event, item)">
                  <md-tooltip md-direction="up" md-visible="tooltipVisible"
                  md-autohide="false">
                  Factoids
                </md-tooltip>
               <i class="fa fa-bar-chart fa-lg fa-align-center"></i>
        </md-button>
      </div>


<!--           <md-button aria-label="Factoids" class="md-fab md-raised md-mini"
          ng-click="openDialog($event, item)">
            <md-tooltip md-direction="up" md-visible="tooltipVisible"
            md-autohide="false">
            Factoids
          </md-tooltip>
            <i class="fa fa-bar-chart fa-lg fa-align-center"></i>
          </md-button> -->


<!--           <div flex="5">
            <md-button class="md-fab md-mini md-warn" aria-label="doctor">
              <i class="fa fa-user-md fa-lg"></i>
            </md-button>
          </div> -->

<!--           <div flex="5">
            <md-button class="md-fab md-mini md-primary" aria-label="county">
              <i class="fa fa-map-marker fa-lg"></i>
            </md-button>
          </div> -->

          </div>

    <div layout="row">



    </div>


          <div county-map id="countyMap" countyinfo="countyInfo" bins="bins" dataset="dataSet" on-county-click="showSankeyDialog($event, FIPS, county)">
          </div>
          </md-card-content>
        </md-card>


        </md-card-content>
      </md-card>



      
</div>




<div class="container">
  <footer class="footer">
    <div layout="row">
      <md-card flex="50" flex-offset="25" class="footerCard">
        <md-card-content>
          <p>&copy; Andy Watt, 2015. Made possible by the <a href='https://openpaymentsdata.cms.gov/'>OpenPayments API</a>.</p>
          <p>Photo credit: <a href="https://www.flickr.com/photos/manoftaste-de/17783209085/">manoftaste.de</a> via <a href="http://visualhunt.com">VisualHunt.com</a> / <a href="http://creativecommons.org/licenses/by/2.0/">CC BY</a>
          </p>
        </md-card-content>
      </md-card>
    </div>
  </footer>
</div>