.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.fullscreen {
  width: 110%;
  height: 110%;
  position: fixed;
  left: -10%;
  top: -10%;
  z-index: -1;
  background-image: url('main/img/pills3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  .fullscreen-overlay {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.container {
  width: 85%;
  position: auto;
}

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}


// soft red
// .q0-9 { fill: #e3d4d5; }
// .q1-9 { fill: #ddc6c6; }
// .q2-9 { fill: #d5b1b1; }
// .q3-9 { fill: #c89393; }
// .q4-9 { fill: #bc7475; }
// .q5-9 { fill: #ae5555; }
// .q6-9 { fill: #a33838; }
// .q7-9 { fill: #951919; }
// .q8-9 { fill: #8b0000; }


//Bright red:
// .q0-9 { fill: #ffdada; }
// .q1-9 { fill: #fcd6d6; }
// .q2-9 { fill: #f5c5c5; }
// .q3-9 { fill: #eea9a9; }
// .q4-9 { fill: #e48686; }
// .q5-9 { fill: #db5e5e; }
// .q6-9 { fill: #d13737; }
// .q7-9 { fill: #c91919; }
// .q8-9 { fill: #a70000; }



// Purple:
// .q0-9 { fill: #f7ebfe; }
// .q1-9 { fill: #edd3f5; }
// .q2-9 { fill: #e1b6e8; }
// .q3-9 { fill: #d599db; }
// .q4-9 { fill: #c77acc; }
// .q5-9 { fill: #b755bb; }
// .q6-9 { fill: #a731aa; }
// .q7-9 { fill: #9a169d; }
// .q8-9 { fill: #6c006d; }

// .q0-9 { fill:rgb(247,251,255); }
// .q1-9 { fill:rgb(222,235,247); }
// .q2-9 { fill:rgb(198,219,239); }
// .q3-9 { fill:rgb(158,202,225); }
// .q4-9 { fill:rgb(107,174,214); }
// .q5-9 { fill:rgb(66,146,198); }
// .q6-9 { fill:rgb(33,113,181); }
// .q7-9 { fill:rgb(8,81,156); }
// .q8-9 { fill:rgb(8,48,107); }



//begin sankey
.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}

md-input-container {
  margin: 10px; }

.physician-list li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }
.physician-list li:last-child {
  border-bottom-width: 0; }
.physician-list .item-title,
.physician-list .item-metadata {
  display: block;
  line-height: 2; }
.physician-list .item-title md-icon {
  height: 18px;
  width: 18px; }

md-dialog-content{
  padding: 2px;
}

body{
      background-color: rgba(255, 255, 255, 0);
}

.footer{
  border-top: 0px;
}


//COUNTYMAP

  .fullscreen-dialog {
       height:90%;
       width:90%;
       max-height:90%;
       max-width: 90%;
       position: absolute;
       top: 5%;
       left: 5%;
       border-radius: 0;
   }

#countyMap svg {
    display: block;
    margin: auto;
}

md-progress-circular {
  margin: 175px;
}

i {
  vertical-align: middle;
}

 text.ticks {
        font-size: 8pt;
        // font-weight: bold;
        font-family: Consolas, courier;
        fill: #6B6969;
      }

 text.annotation {
        font-size: 8pt;
        font-family: Consolas, courier;
        fill: #928D8D;
      }

//SANKEYMAP

md-radio-group {
  width: 150px; 
}

.sankeyDialog {
  overflow-y: hidden;
}

.sankeyTitle {
  font-weight: bold;
  font-size: 22px;
  max-height: 50px;
}

.sankeyHeaders {
  font-weight: bolder;
  font-size: 16px;
  background-color: #9a169d;
  min-height: 22px;
}

.fa-long-arrow-right {
  padding: 0 15px;
}

.fa-money {
  color: #85bb65;
}


//MAIN TITLE

.unblurred{
  color: #1d91c0;
  // color: #9ACA7E;
}

.blurred {
    // font-size: 32px;
    color: transparent;
    -webkit-animation: blurry 10s infinite;/* Safari 4+ */
    -moz-animation:    blurry 10s infinite;/* Fx 5+ */
    -o-animation:      blurry 10s infinite;/* Opera 12+ */
    animation:         blurry 10s infinite;/* IE 10+ */
}

.mainTitle {
 font-family: 'Ubuntu', sans-serif;
 // font-size: 48px;
    // position: relative;
    // color: #1d91c0;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.4em;
    margin-bottom: 30px;
    padding-top: 20px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.titleCard {
  width: 75%;
  position: center;
}

//BODYCARD

.bodyCard {
  padding-bottom: 100px;
}

md-card {
  background: rgba(158,202,225,0.3);
  // background: rgba(254,80,0,0.4);
  border-radius: 3px;
}

.footer {
  margin-top: 50px;
  font-size: 12px;
  line-height: 1.2;
}

.footerCard {
  padding-top: 10px;
}

.fade, .dashCard {
  // background: rgba(254,80,0,0.65);
  background: rgba(158,202,225,0.65);
}

.fade {
  position: absolute;
  left: 20%;
  right: 20%;
  opacity: 1;
}

.infoFrame {
  min-height: 140px;
  margin-bottom: 40px;
}

.fade.ng-hide-remove {
      -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }

.fade.ng-hide-remove {
    -webkit-animation: fadeIn 1.75s;
    animation: fadeIn 1.75s;
}


md-radio-button {
  margin: 16px;
}

md-checkbox {
  margin: 14px;
}

.mainBody {
  margin-top: 20px;
}


// ANIMATIONS
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes blurry {
  0%   { text-shadow: 0px 0px 0px #9ACA7E; }
  35%   { text-shadow: 0px 0px 12px #1d91c0; }
  60% { text-shadow: 0px 0px 0px #9ACA7E; }
  // 75%   { text-shadow: 0px 0px 6px #9ACA7E; }
  100% { text-shadow: 0px 0px 0px #9ACA7E; }
}
@-moz-keyframes blurry {
  0%   { text-shadow: 0px 0px 0px #9ACA7E; }
  35%   { text-shadow: 0px 0px 12px #1d91c0; }
  60% { text-shadow: 0px 0px 0px #9ACA7E; }
  // 75%   { text-shadow: 0px 0px 6px #9ACA7E; }
  100% { text-shadow: 0px 0px 0px #9ACA7E; }
}
@-o-keyframes blurry {
  0%   { text-shadow: 0px 0px 0px #9ACA7E; }
  35%   { text-shadow: 0px 0px 12px #1d91c0; }
  60% { text-shadow: 0px 0px 0px #9ACA7E; }
  // 75%   { text-shadow: 0px 0px 6px #9ACA7E; }
  100% { text-shadow: 0px 0px 0px #9ACA7E; }
}
@keyframes blurry {
  0%   { text-shadow: 0px 0px 0px #9ACA7E; }
  35%   { text-shadow: 0px 0px 12px #1d91c0; }
  60% { text-shadow: 0px 0px 0px #9ACA7E; }
  // 75%   { text-shadow: 0px 0px 6px #9ACA7E; }
  100% { text-shadow: 0px 0px 0px #9ACA7E; }  
}











