<md-dialog>
<md-content class="autoScroll">
<div layout="row">
    <md-subheader class="md-primary"> &nbsp&nbsp&nbsp&nbspSearch by County or Physician</md-subheader>
    <md-button class="md-icon-button" ng-click="cancel()" aria-label="...">
      <i class="fa fa-times"></i>
    </md-button>
  </div>
     <!-- state search -->
        <md-input-container ng-click="loadStates()" class="md-block" flex-gt-sm>
          <label>State</label>
             <!-- <md-icon md-svg-src="main/img/icons/medical51.svg" class="name"></md-icon> -->
            <md-select ng-model="user.state">
              <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                {{state.abbrev}}
              </md-option>
            </md-select>
          </md-input-container>

        <!-- county search -->
        <md-input-container class="md-block" flex-gt-sm>
          <label>County</label>
          <md-select ng-model="user.county">
            <md-option ng-repeat="county in counties" value="{{$index}}">
              {{county.name}}
            </md-option>
          </md-select>
        </md-input-container>
        
        <!-- physician name search -->
        <md-autocomplete required
          ng-disabled="isDisabled"
          md-no-cache="noCache"
          md-selected-item="selectedItem"
          md-search-text-change="searchTextChange(searchText)"
          md-search-text="searchText"
          md-selected-item-change="selectedItemChange(item)"
          md-items="item in querySearch(searchText)"
          md-item-text="item.display"
          md-min-length="0"
          md-floating-label="Physician"
          md-menu-class="physician-list">
          <md-item-template>
            <span class="item-title">
            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
          </span>
          <span class="item-metadata">
            <span class="item-metastat">
              <strong>${{item.totalPayments | number : 2}}</strong> in payments
            </span>
            <br>
            <span class="item-metastat">
              <strong>${{item.totalGrants | number : 2}}</strong> in grants
            </span>
          </span>
          </md-item-template>
          <md-not-found>
          No names matching "{{searchText}}" were found.
          </md-not-found>
        </md-autocomplete>

         <div layout="row">
          <md-button ng-disabled="(user.county === -1)" flex class="md-button md-cornered md-button-colored btn-lg home-input-button" ng-click="showSankeyDialog($event, user.county, selectedItem, selectedItem.totalPayments, selectedItem.totalGrants, user.state)">Display   <i ng-show="selectedItem" class="fa fa-user-md"></i><i ng-hide="selectedItem" class="fa fa-map-marker"></i>  Stats</md-button>
         </div>
  </md-content>
</md-dialog>