<md-dialog aria-label="..."  ng-cloak>
  <div ng-hide="!progress" layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular class="md-warn md-hue-3 stats"  md-mode="indeterminate" md-diameter="60"></md-progress-circular>
  </div>
<md-content ng-if="!progress">
	<md-subheader class="md-primary">Total Amount</md-subheader>
	<md-virtual-repeat-container id="vertical-container">
	  <div md-virtual-repeat="item in physicianStats" class="repeated-item" flex>
	    {{$index + 1}}.&nbsp <a href ng-click="showSankeyDialog($event, item.FIPS)">{{item.first_name}} {{item.last_name}}</a>, {{item.city}}, {{item.state}} - {{item.amount | currency}}
	  </div>
	</md-virtual-repeat-container>
</md-content>
</md-dialog>
