<md-dialog class="sankeyDialog fullscreen-dialog" aria-label="...">
  <form>
    <md-toolbar layout="column">
      <div class="md-toolbar-tools sankeyTitle" layout="row" layout-align="center center">
        <span flex></span>
        <div>{{dataTitle}} - {{countyName}} - {{programYear}}</div>
        <span flex></span>
         <md-button class="md-icon-button" ng-click="cancel()" aria-label="...">
          <i class="fa fa-times"></i>
        </md-button>
        </div>
          
          <div class="sankeyHeaders" layout="row" layout-align"space-between end">
            <div flex-offset="5" flex="10">Manufacturer</div>
            <div flex="20">
              <i class="fa fa-long-arrow-right fa-lg"></i>
              <i class="fa fa-money fa-lg"></i>
              <i class="fa fa-money fa-lg"></i>
              <i class="fa fa-money fa-lg"></i>
              <i class="fa fa-long-arrow-right fa-lg"></i>
            </div>
            <div flex="20">Associated Drug Promotion</div>
            <div flex="25">
              <i class="fa fa-long-arrow-right fa-lg"></i>
              <i class="fa fa-long-arrow-right fa-lg"></i>
              <i class="fa fa-money fa-lg"></i>
              <i class="fa fa-money fa-lg"></i>
              <i class="fa fa-money fa-lg"></i>
              <i class="fa fa-long-arrow-right fa-lg"></i>
              <i class="fa fa-long-arrow-right fa-lg"></i>
            </div>
            <div flex="15">Recipient Prescriber</div>
          </div>


    </md-toolbar>
    <md-dialog-content id="sankeyContent">

      <md-tabs md-dynamic-height class="md-accent" md-border-bottom>

        <!-- <md-tab ng-repeat="bin in bins" ng-init="$last ? hideProgress() : null"> -->
        <!-- <md-tab ng-repeat="bin in bins" ng-init="!bins.length ? showAlertDialog() : null"> -->
        <md-tab ng-repeat="bin in bins" ng-init="init(bins.length,$last)"> 
          <md-tab-label>{{bin.bin}} <span ng-if="bin.rawAmount > 0">(${{bin.rawAmount | number:2}})</span></md-tab-label>
          <md-tab-body>
          <div id="chart-{{$index}}" county-sankey bin-num="$index" bin="bin.bin"></div>
          </md-tab-body>
        </md-tab>
      </md-tabs>

  <div ng-hide="!progress" layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular class="md-warn md-hue-3 sankey"  md-mode="indeterminate" md-diameter="60"></md-progress-circular>
  </div>

    </md-dialog-content>
  </form>
  <div id="tooltipSankey"></div>
</md-dialog>
